{% comment %}
  The content of index.liquid is output between <main> and </main> tags 
  in layout/theme.liquid.
{% endcomment %}

<div class="page-width">
  {% section 'hero' %}
  {% section 'featured-collection' %}
  {% section 'featured-products' %}
  {% section 'rich-text' %}
  {% section 'newsletter' %}
</div>
