{% comment %}
  The content of index.liquid is output between <main> and </main> tags 
  in layout/theme.liquid.
{% endcomment %}

<div class="page-width">
  {% section 'hero' %}
  {% section 'premium-ring-collection' %}
  {% section 'smart-ring-features' %}
  {% section 'indian-benefits' %}
  {% section 'newsletter' %}
</div>
